.places div:first-of-type {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

article {
	width:390px;
	padding:20px;
	margin:20px;
	text-align: center;
	border: solid 1px #FF5A5F;
	border-radius: 4px;
}

article h2 {
	font-size: 30px;
}

.places h1 {
	font-size: 30px;
	margin-left: 20px;
}